$pink: #faf;

$blue: #6FCDE3;
$blue-2: #5DBCD0;

$blue-green: #4FAFAF;
$blue-green-2: #3E8887;

$bright-green: #CFE197;
$bright-green-2: #BAD691;

$green: #46B986;
$green-2: #21A671;

$light-grey: #EEF3F4;
$light-grey-2: #C1C7C9;

$grey: #BCC3C6;
$grey-2: #9BA1A3;

$dark-grey: #3D3D3D;
$dark-grey-2: #333333;

$yellow: #F6C439;
$yellow-2: #DAAF38;

$orange: #EE8633;
$orange-2: #CE7333;

$bright-orange: #F06B2F;
$bright-orange-2: #E06130;

$red: #EE5358;
$red-2: #D44A4D;

$purple: #C15EA2;
$purple-2: #A5498E;

$dark-purple: #55365E;
$dark-purple-2: #4A2F4F;

$white: #FFFFFF;
$black: #000000;