<column>
	<display>
		<canvas width="48" height="31"></canvas>
	</display>
	
	<% if (debug) { %>
		<buttons>
			<input type="button" value="step" action="step"></input>
			<input type="button" value="run" action="run"></input>
			<input type="button" value="reset" action="reset"></input>
			<input type="button" value="nmi" action="nmi"></input>
		</buttons>
		<buttons>
			<select action="irq">
				<option value="0">0: TIM0</option>
				<option value="3">3: 2048</option>
				<option value="4">4: 8192</option>
				<option value="5">5: SPU</option>
				<option value="6">6: SPI</option>
				<option value="7">7: FP</option>
				<option value="10">10: TIM1</option>
				<option value="12">12: TBH</option>
				<option value="13">13: TBL</option>
			</select>
			<input action="irq" type="button" value="irq"></input>
			<input type="checkbox">trace</input>
		</buttons>
		<cpu>
			<flags>
				<flag name="C"></flag>
				<flag name="Z"></flag>
				<flag name="I"></flag>
				<flag name="D"></flag>
				<flag name="V"></flag>
				<flag name="N"></flag>
			</flags>

			<registers>
				<register name="A"></register>
				<register name="X"></register>
				<register name="Y"></register>
				<register name="S"></register>
				<register name="PC"></register>
			</registers>
		</cpu>
		<control>
			<% for (var i = 0; i < 0x100; i += registerBytesPerLine ) { %>
				<row>
					<address><%= toHex(4, i+0x3000) %></address>
					<% for (var b = 0; b < registerBytesPerLine; b ++ ) { %>
						<byte data-address="<%= i+b+0x3000 %>"><%= "00" %></byte>
					<% } %>
				</row>
			<% } %>
		</control>
	</column>
	<column>
		<disassembly>
			<% for (var i = 0; i < instructionCount; i++ ) { %>
			<instruction port>
				<location></location>
				<opcode></opcode>
				<addressing mode address></addressing>
				<data></data>
			</instruction>
			<% } %>
		</disassembly>
	</column>
	<column>
		<memory>
			<% for (var i = 0; i < 0x600; i += memoryBytesPerLine ) { %>
				<row>
					<address><%= toHex(4, i) %></address>
					<% for (var b = 0; b < memoryBytesPerLine; b ++ ) { %>
						<byte data-address="<%= i+b %>"><%= "00" %></byte>
					<% } %>
				</row>
			<% } %>
		</memory>
	<% } %>
</column>